<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  <link rel="stylesheet" href="../css/index.css" />
  <title>Corona Virus Outbreak</title>
</head>
<body>
  <%- include('./../partials/header.ejs') %>

  <div class="container mt-3 mb-3">

    <div class="inner-container-top">
      <button class="btn btn-outline-success">Fetch latest Data</button>
      <small><%= new Date(data.createdAt).toDateString() %> <%= new Date(data.createdAt).toTimeString().split(' ')[0]%></small>
    </div>

    <div class="inner-container">
      <h1 class="lead">Corona Virus (COVID-19) Outbreak in India</h1>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3 mt-3 mb-3">
        <div class="card gradient-1">
          <div class="card-body">
            <span class="card-title text-light">Active Cases</span><br/>
            <span class="number"> <%= data.totalActiveCases %> </span>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3 mt-3 mb-3">
        <div class="card gradient-2">
          <div class="card-body">
            <span class="card-title text-light">Confirmed Cases</span><br/>
            <% var totalConfirmedCases = parseInt(data.totalActiveCases)+parseInt(data.totalCuredCases)+parseInt(data.totalDeathCases) %>
            <span class="number"><%= totalConfirmedCases %> </span>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3 mt-3 mb-3">
        <div class="card gradient-4">
          <div class="card-body">
            <span class="card-title text-light">Recovered Cases</span><br/>
            <span class="number"><%= data.totalCuredCases %></span>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3 mt-3 mb-3">
        <div class="card gradient-3">
          <div class="card-body">
            <span class="card-title text-light">Deaths</span><br/>
            <span class="number"><%= data.totalDeathCases %></span>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <h1 class="lead">
      State wise
    </h1>

    <div class="card mt-3 mb-5">
      <div class="card-body">

        <canvas id="myChart" width="400" height="500"></canvas>
      </div>
    </div>
  </div>

  <%- include('./../partials/footer.ejs') %>
  <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <script>
      var ctx = document.getElementById('myChart').getContext('2d');
      var data = '<%- JSON.stringify(data) %>'
      data = JSON.parse(data)
      var states = [], indianNationals = [], foreignNationals=[], cured=[], death=[]

      for(var state of data.stateWise) {
        states.push(state.state)
        indianNationals.push(state.confirmedDomestic)
        foreignNationals.push(state.confirmedForeign)
        cured.push(state.cured)
        death.push(state.death)
      }
      
      var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: states,
          datasets: [{
            label: 'Cured',
            data: cured,
            backgroundColor: 'rgba(72, 19, 128, 0.7)'
          }, {
            label: 'Deaths',
            data: death,
            backgroundColor: 'rgba(232, 240, 68, 0.7)'
          },{
            label: 'Total Confirmed Cases(Foreign National)',
            data: foreignNationals,
            backgroundColor: 'rgba(222, 113, 25, 0.7)'
          },{
              label: 'Total Confirmed Case (Indian National)',
              data: indianNationals,
              backgroundColor: 'rgba(17, 105, 121, 0.7)'
          }]
      },
      options: {
          scales: {
              xAxes: [{
                stacked: true
              }]
          },
          maintainAspectRatio: false
      }
  });
    </script>
</body>
</html>